# Skip docs directories in bzlmod mode. Stardoc is not yet bzlmod compatible.
build:bzlmod --deleted_packages=docs
build:bzlmod --registry=file://%workspace%/../../registry

import %workspace%/../../.bazelrc.remote-cache
import %workspace%/../../.bazelrc.common
import %workspace%/../../.bazelrc.java
