import %workspace%/../../../.bazelrc.remote-cache

# merge env and action_env variables for action.run
# (note, this is the default in Bazel 7)
build --incompatible_merge_fixed_and_default_shell_env

build:nix --host_platform=@io_tweag_rules_nixpkgs//nixpkgs/platforms:host --incompatible_enable_cc_toolchain_resolution
