build --host_platform=@rules_nixpkgs_core//platforms:host

build --crosstool_top=@nixpkgs_config_cc//:toolchain
# Using toolchain resolution can lead to spurious dependencies on
# `@local_config_cc//:builtin_include_directory_paths`. This needs to be
# resolved before `--incompatible_enable_cc_toolchain_resolution` can be
# recommended for `nixpkgs_cc_configure_hermetic`.
# build --incompatible_enable_cc_toolchain_resolution

build --java_runtime_version=nixpkgs_java_11
build --java_language_version=11
build --tool_java_runtime_version=nixpkgs_java_11
build --tool_java_language_version=11

# CI Configuration
# ----------------
common:ci --color=no
build:ci --verbose_failures
test:ci --test_output=errors

# Use a remote cache during CI
build:ci --bes_results_url=https://app.buildbuddy.io/invocation/
build:ci --bes_backend=grpcs://remote.buildbuddy.io
build:ci --remote_cache=grpcs://remote.buildbuddy.io
build:ci --remote_timeout=3600
# Avoid failures of the form `deadline exceeded after 14999958197ns DEADLINE_EXCEEDED`.
# See https://github.com/tweag/rules_haskell/issues/1498.
build:ci --keep_backend_build_event_connections_alive=false

# User Configuration
# ------------------
try-import %workspace%/.bazelrc.local
