name: Continuous integration

on:
  push:
    branches: master
  pull_request:
    branches: master
  workflow_dispatch: # allows manual triggering

jobs:
  test-nixpkgs:
    name: Build & Test - Nixpkgs
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-11
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=./core/nixpkgs.nix
      - name: Configure
        env:
          BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
        run: |
          cp .bazelrc.ci $HOME/.bazelrc
          if [ -z "$BUILDBUDDY_API_KEY" ]; then
              cache_setting='build --noremote_upload_local_results'
          else
              cache_setting="build --remote_header=x-buildbuddy-api-key=$BUILDBUDDY_API_KEY"
          fi
          cat >>$HOME/.bazelrc <<EOF
          common --config=ci
          $cache_setting
          # no-op flag to avoid "ERROR: Config value 'ci' is not defined in any .rc file"
          common:ci --announce_rc=false
          EOF
      - name: Build & test
        run: |
          nix-shell --pure --keep GITHUB_REPOSITORY --run 'bash .github/build-and-test'
  test-examples:
    name: Build & Test - Examples
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-11
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=./nixpkgs.nix
      - name: Configure
        env:
          BUILDBUDDY_API_KEY: ${{ secrets.BUILDBUDDY_API_KEY }}
        run: |
          cp .bazelrc.ci $HOME/.bazelrc
          cat >>$HOME/.bazelrc <<EOF
          common --config=ci
          build --remote_header=x-buildbuddy-api-key="$BUILDBUDDY_API_KEY"
          # no-op flag to avoid "ERROR: Config value 'ci' is not defined in any .rc file"
          common:ci --announce_rc=false
          EOF
      - name: Build & test
        run: |
          skip() {
            echo "Will skip $(head -n1 $2/README.md) ${1%_nix} Nix"
            local p="$1[@]"
            read -a ${1} <<< $(echo ${!p//$2})
          }

          cd examples/toolchains
          with_nix=( $(ls) )
          without_nix=( cc go java rust )

          for dir in "${with_nix[@]}"; do
              cd "$dir"
              echo
              echo "::group::Running $(head -n1 README.md) with Nix"
              nix-shell --command 'bazel run --config=nix :hello'
              # TODO: all toolchains should run without Nixpkgs
              cd ..
          done
          for dir in "${without_nix[@]}"; do
              cd "$dir"
              echo
              echo "::group::Running $(head -n1 README.md) without Nix"
              bazel run :hello
              cd ..
          done
